.form {
  padding: 5px;
}

div.ui.segment{
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);

}

.app {
  min-height: 831px;
}


.app .todolist-header {
  display:  flex;
  justify-content: space-around;
  background-color: #77d8a2;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;

}

.app .todolist-header .logo {
  margin: 10px;
  flex-basis: 70px;

}

.app .todolist-header .buttonAddTask {

  margin: 10px;
  flex-basis: 70px;
}

.app .tasklist {
  display: flex;
  justify-content: center;
}

.Task  {
  margin: 5px;
}

.done>.ui.card>.content>.header>span.title{
  text-decoration: line-through;
}

.Task>.ui.card>.content>.header>i.icon {
  float: right;
  cursor: pointer;
}

.done>.ui.card{
  background-color: lightgray;
}

.ui.card>.content>.description {
  display: none;
}

.ui.card:hover>.content>.description {
  display: block;
}

.footer>div{
  display: flex;
  justify-content: center;
}

.ui.button.selected {
  border: 1px solid red;
}

div.footer>div>span {
  color: white;
}

.peopleList {
  display: flex;
  flex-direction: column;
  min-height: 861px;
}
