.toDoList {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  border: grey solid 1px;
}

.toDoList .task .delete {
  float: right;
  color: red;
  cursor: pointer;
  display: none;
}

.toDoList .task:hover .delete {
  display: inline-block;
}

.toDoList .task {
  padding: 5px;
  margin-top: 5px;
}

.toDoList .task:hover {
  background-color: lightgrey;
}

.toDoList .task.done {
  text-decoration: line-through;
}

.toDoList .todolistfooter {
  display: flex;
  margin-top: 10px;
}

.toDoList .todolistfooter div{
  padding: 3px;
}

.toDoList .todolistfooter .buttons button.selected{
  border: 3px solid black;
}
